<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/demo.css '%}">

        <title>Welcome To Job Portal</title>
    </head>
    <body>
        
        <div class="container" align='center'>
            
            <div class="jumbotron">

                <h1 class="display-4">Welcome To Job Portal</h1>
                <p>Continous For Jobs Updates</p>
                <a class="btn btn-primary btn-lg" href="indore/" role="button">Indore Jobs</a>&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary btn-lg" href="pune/" role="button">Pune Jobs</a>&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary btn-lg" href="banglore" role="button">Banglore Jobs</a>&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary btn-lg" href="hyderabad/" role="button">Hyderabad Jobs</a>
              
              </div>
       
    </div>
    </body>
</html>